.App {
  text-align: center;
  margin: auto;
}

.ComponentOne,
.ComponentTwo,
.ComponentThree {
  width: 400px;
  float: left;
  margin-left: 5%;
  margin-top: 25px;
  box-shadow: 5px 10px 8px 10px #888888;
  padding: 20px;
  border-radius: 4px;
  min-height: 15vw;
}

.inputBox {
  height: 30px;
  padding: 2px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn {
  margin-left: 10px;
}